---
import Layout from '../layouts/Layout.astro'
import Input from '../components/Input.astro'
import Post from '@/components/Post.astro'
---

<Layout title='Welcome to Astro.'>
  <div class='flex mx-auto flex-1 flex-col gap-y-4 py-8 w-full max-w-[840px]'>
    <Input  />
    <Post />
    <Post />
    <Post />
    <Post />
    <Post />
    <Post />
  </div>
</Layout>
